body 
{
    background-color: White;
    background-image: url(./062.gif);
    font-family: Georgia;
}

#main
{
    background-image: url('./baner2.jpg');
    background-color: White;   
}

#footer
{
    background-color: White;
    height:100px;     
}

#title
{
    background-image: url('./baner.jpg');
    height: 144px;
    text-align: left;
    color: Purple;
}

#menu, #menu li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu
{
	position: absolute;
}

#menu li {
	float: left;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: transparent #25b #25b #9ce;
}

#menu a:link, #menu a:visited {
	text-decoration: none;
	display: block;
	width: 95px;
	text-align: center;
	padding: 5px 0;
	font-weight: bold;
	background-color: #27c;
	color: #def;
	border-top: 10px solid #25b;
}

#menu a:hover {
	background-color: #28e;
	color: #fff;
	border-top: 20px solid #26d;
}

hr
{
    color: Blue;    
}

fieldset 
{
    border-color: Blue;
}